@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
    background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 10px;
}